/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forgotpassword-page {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.back-arrow {
  display: inline-block;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 20px;
  text-align: center;
}

.instructions {
  font-size: 14px;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  color: black;
}

.password-container {
  position: relative;
  margin-bottom: 20px;
}

.password-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  color: #666666;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.submit-button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(90deg, #ffa726, #ffcc80);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 50px;
}

.submit-button:hover {
  background: linear-gradient(90deg, #ff6f00, #ffaf00);
}

.signup-prompt {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}

.signup-prompt .link {
  color: #ff6f00;
  text-decoration: none;
  font-weight: bold;
}
